# Archivos y carpetas de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.venv/
.env/

# Archivos de configuración o entorno
*.env
*.ini
*.cfg

# Archivos temporales o de sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de Jupyter
.ipynb_checkpoints/

# Archivos de VSCode
.vscode/

# Archivos de pruebas
.coverage
.pytest_cache/
htmlcov/

# Archivos de distribución
build/
dist/
*.egg-info/
